@model Burak.Eticaret.Core.Model.Entity.Product
@{
    ViewBag.Title = "Ürün Detayı";
    var isLogin = (bool)ViewBag.IsLogin;

}

<br />
<br />
<h2>Ürün Detayı</h2>
<table class="table-condensed">
    <th>   <img class="aw-zoom" src="@Model.ImageUrl" /></th>

    <th>Marka:  </th>
    <td>
        @Model.Brand
    </td>
    


    <th>Ürün Adı: </th>
    <td class="title">
        @Model.Name


    </td>


    <th>Açıklama:  </th>
    <td>
        @Model.Description
    </td>
    <th>Fiyat: </th>
    <td>
        @Model.Price.ToString("##,## ₺")
    </td>


    <th>Stok: </th>
    <td class="title">
        @Model.Stock


    </td>
    @{
        if (isLogin)
        {
            <td href="#" data-pID="@Model.ID" class="btn btn-default addBasket"><i class="fas fa-shopping-basket"></i>Sepete At</td>

        }



    }




   


</table>

<style>
    .productBox {
        width: 200px;
        float: left;
        margin: 10px;
        border: 2px solid #784521;
        padding: 10px; /*iç boşluk*/
        text-align: center;
    }

        .productBox img {
            width: 100%;
        }

        .productBox .title {
            font-weight: bold;
        }

        .productBox p { /*tüm p ler kontrolü*/
            text-align: center;
        }
</style>


<div id="BurakModal" title="Teşekkürler">
    Ürürünüz Sepete Atılmıştır <br />

    <a href="/sepetim" class="btn btn-success ">Sepeti Gör</a>

</div>


@section script{
    <script type="text/javascript">

        $(function () {
            $("#BurakModal").dialog({
                autoOpen: false,
                show: {
                    effect: "blind",
                    duration: 1000
                },
                hide: {
                    effect: "explode",
                    duration: 1000
                }
            });

            $(".addBasket").on("click", function () {

                var pid = $(this).attr("data-pID");//tıklanan
                $.post("/basket/AddProduct?productID=" + pid + "&quantity=1", function (data) {
                    $("#BurakModal").dialog("open");


                });



                return false;
            });
        });

    </script>


}



    <style>


        .aw-zoom {
            position: relative;
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            -moz-transform: scale(1);
            transition: all .3s ease-in;
            -moz-transition: all .3s ease-in;
            -webkit-transition: all .3s ease-in;
            -ms-transition: all .3s ease-in;
        }

            .aw-zoom:hover {
                z-index: 2;
                -webkit-transform: scale(1.5);
                -ms-transform: scale(1.5);
                -moz-transform: scale(1.5);
                transform: scale(1.5);
            }
    </style>